.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.buttons {
  width: 65%;
  height: 65%;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.buttons button {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
}
input {
  width: 45%;
  height: 20px;
}
